{
  "openapi": "3.0.3",
  "info": {
    "title": "Engine by MoneyLion API",
    "version": "1.58.0",
    "termsOfService": "https://engine.tech/about/legal#terms",
    "contact": {
      "name": "API Support",
      "url": "https://engine.tech/docs",
      "email": "help@engine.tech"
    }
  },
  "externalDocs": {
    "description": "Engine by MoneyLion API Reference",
    "url": "https://engine.tech/docs/api-reference/"
  },
  "servers": [
    {
      "url": "https://api.engine.tech"
    }
  ],
  "components": {
    "securitySchemes": {
      "publishableBearerToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "A bearer token that is assumed to be published in application code and downloaded to a user's device. As a result, it only has restricted access to the API.\n"
      },
      "confidentialBearerToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "A bearer token that is assumed to be managed like a password or any other confidential secret. As a result, it has access to sensitive API endpoints.\n"
      },
      "experimentalBearerToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "A bearer token that is used to access experimental endpoints that are not yet available for all partners. It may be treated the same as a `publishableBearerToken`.\n"
      }
    },
    "schemas": {
      "ApiError": {
        "type": "object",
        "properties": {
          "attribute": {
            "type": "string",
            "description": "The attribute that this error applies to. Omitted if this error is not in the context of a resource, or cannot be isolated to a single attribute.\n"
          },
          "type": {
            "type": "string",
            "description": "A classification for this error, which can be used to render the appropriate custom error template, or take other programmatic actions.\n"
          },
          "details": {
            "description": "Variables associated with this error that can be injected into a custom error template, or used to parameterize any other programatic actions.\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/ApiErrorDetails"
              }
            ]
          },
          "message": {
            "type": "string",
            "description": "A human-readable, English description of the error.\n"
          }
        }
      },
      "ApiErrorDetails": {
        "type": "object",
        "additionalProperties": {
          "type": "string"
        }
      },
      "ApiApprovedEventData": {
        "type": "object",
        "title": "apiApproved",
        "properties": {
          "productType": {
            "$ref": "#/components/schemas/ProductType",
            "description": "The product type of the approved offer.\n"
          }
        }
      },
      "ApiRejectedEventData": {
        "type": "object",
        "title": "apiRejected",
        "properties": {
          "rejectReason": {
            "$ref": "#/components/schemas/RejectReason",
            "description": "A normalized reason why the lead was rejected, according to the financial institution.\n"
          },
          "productType": {
            "$ref": "#/components/schemas/ProductType",
            "description": "The product type of the rejected offer.\n"
          }
        }
      },
      "AppliedEventData": {
        "type": "object",
        "title": "applied",
        "properties": {
          "amount": {
            "type": "integer",
            "format": "int32",
            "description": "The dollar amount of the offer that was applied for.\n"
          },
          "productType": {
            "$ref": "#/components/schemas/ProductType",
            "description": "The product type of the offer that was applied for.\n"
          }
        }
      },
      "ApprovedEventData": {
        "type": "object",
        "title": "approved",
        "properties": {
          "amount": {
            "type": "integer",
            "format": "int32",
            "description": "The dollar amount of the approved offer.\n"
          },
          "productType": {
            "$ref": "#/components/schemas/ProductType",
            "description": "The product type of the approved offer.\n"
          }
        }
      },
      "AprType": {
        "type": "string",
        "enum": [
          "variable",
          "regular",
          "fixed"
        ]
      },
      "BankAccountType": {
        "type": "string",
        "enum": [
          "checking",
          "savings",
          "other"
        ]
      },
      "CardBenefit": {
        "type": "string",
        "description": "Benefits or benefit categories related to a credit card",
        "enum": [
          "No Foreign Transaction Fees",
          "Purchase Protection",
          "Return Protection",
          "Price Protection",
          "Fraud Protection",
          "Extended Warranty",
          "Travel Accident Insurance",
          "Trip Interruption Insurance",
          "Car Rental Insurance",
          "Baggage Insurance",
          "Baggage Delay Insurance",
          "Hotel Burglary Insurance",
          "Travel & Emergency Assistance",
          "Roadside Assistance",
          "Concierge Service",
          "Lounge Access",
          "Identity Theft Assistance",
          "In-Flight Savings",
          "Free Checked Bag",
          "Priority Boarding",
          "No Blackout Dates",
          "Free Companion Ticket",
          "Discount Companion Ticket",
          "Global Entry or TSA PreCheck",
          "Private Jet Perks",
          "Lounge Access Discount",
          "24/7 Cardholder Support",
          "Authorized User",
          "Entertainment Access",
          "Airline Fee Credit",
          "Late Fee Pass",
          "Credit Score Reporting",
          "No Flight Change Fees",
          "24/7 Account Monitoring",
          "Amex Offers",
          "Visa Signature Offers",
          "MasterCard Offers",
          "Free Hotel Stay",
          "Extended Hotel Stay",
          "Dining Concierge",
          "2 Lounge Passes",
          "Hilton Honors Silver Membership",
          "Hilton Honors Gold Membership",
          "World of Hyatt Discoverist Status",
          "SPG Gold Membership",
          "Marriott Rewards Silver Status",
          "Hertz Presidents Circle Elite Status",
          "2 Free Checked Bags",
          "Auto Discounts",
          "InCircle Partnership",
          "ShopRunner",
          "WiFi Access",
          "ShopSafe",
          "BoA Preferred Rewards",
          "MasterCard Fuel Rewards Network",
          "Missed Event Ticket Protection",
          "Account Freezing",
          "Cell Phone Protection",
          "GPA Rewards",
          "In-Flight WiFi Credit",
          "Citi Private Pass",
          "Priceless Cities",
          "The Hotel Collection",
          "By Invitation Only",
          "Luxury Hotel Collection",
          "Expedia+ Silver Status",
          "Expedia+ Gold Status",
          "$100 American Airlines Discount",
          "Disney Parks Perks and Savings",
          "Ritz-Carlton Gold Elite Status",
          "Ritz-Carlton Club Level Upgrade",
          "Annual Travel Credit",
          "IHG Platinum Elite Status",
          "QuickBooks Connect",
          "ReceiptMatch",
          "Employee Spending Limits",
          "FX International Payments",
          "No Pre-Set Spending Limit",
          "Purchase Financing",
          "Amex Open Savings",
          "Amazon Special Financing",
          "$100 Ritz-Carlton Hotel Credit",
          "British Airways Companion Ticket",
          "Mercedes-Benz Gift Certificates",
          "Mercedes-Benz Excess Mileage Waiver",
          "JetBlue Annual Statement Credit",
          "20% Discount on Delta Flights for Delta Private Jet Members",
          "Expense Report Features",
          "Business Cell Phone Protection",
          "Free Shipping on most Target.com orders",
          "30 Extra Days for Returns",
          "Free clothing altertaions",
          "Personal shopping",
          "Shopmyway Savings",
          "Online Subscription Credit",
          "Uber Exclusive Access",
          "Airline Benefits",
          "Hotel Benefits",
          "Other Travel Benefits",
          "Emergency Assistance",
          "Experiences",
          "Shopping Benefits",
          "Cardholder Benefits",
          "Enhanced Security",
          "Business Benefits",
          "Other Benefits",
          "In-Flight Discounts",
          "Fee Coverage",
          "Flight Credits & Discounts",
          "Hotel Membership Status",
          "Hotel Credit & Free Stays",
          "Travel Credit",
          "Travel Experiences Programs",
          "Car Rental Membership Status",
          "Extra Gas Rewards",
          "Shopping Protection",
          "Shopping Discounts",
          "Free Shipping",
          "The Boingo American Express Preferred Plan",
          "AirSpace Lounge",
          "Uber Monthly Credit",
          "Ride Share Benefits",
          "Delta Sky Club",
          "Admirals Club Membership",
          "Priority Pass Select Membership (Prestige)",
          "Priority Pass Select Membership (Standard Plus)",
          "Daily Breakfast",
          "Early Check-in & Late Check-out",
          "Room Upgrades",
          "Complementary WiFi",
          "Amex Hotel Collection Credit",
          "Temporary Account Numbers",
          "One-Time 50% Discount on Companion Ticket",
          "Airline Travel Credit",
          "United Club Membership",
          "Chip Technology",
          "Earn More Miles for Sharing Travel Stories",
          "Mastercard World Elite Concierge and Luxury Travel Benefits",
          "20% Savings on Delta In-Flight Purchases",
          "25% Savings on United In-Flight Food and Drink Purchases",
          "$100 Hilton Properties Credit",
          "$250 Hilton Resort Credit",
          "Hilton Honors Diamond Membership",
          "Free Birthday Gift",
          "2x Points During Your Birthday Month",
          "Car Rental VIP Perks",
          "Free shipping with the purchase of a bra",
          "Monthly Dining Credit",
          "Amazon Prime Student"
        ]
      },
      "CardPurpose": {
        "type": "string",
        "description": "Purposes or categories related to a credit card",
        "enum": [
          "balance_transfer",
          "cash_back",
          "earning_rewards",
          "improve_credit",
          "low_interest",
          "new_to_credit",
          "student",
          "travel_incentives"
        ]
      },
      "CardType": {
        "type": "string",
        "enum": [
          "visa",
          "mastercard",
          "american_express",
          "discover"
        ]
      },
      "CarrierDecisionType": {
        "type": "string",
        "description": "Carrier decision speed",
        "enum": [
          "instant",
          "non_instant"
        ]
      },
      "CitizenshipStatus": {
        "type": "string",
        "description": "Citizenship status",
        "enum": [
          "citizen",
          "permanent_resident",
          "other"
        ]
      },
      "CompoundingMethod": {
        "type": "string",
        "enum": [
          "annually",
          "continuous",
          "daily",
          "monthly",
          "quarterly",
          "semiAnnually",
          "simple",
          "weekly"
        ]
      },
      "CreditCardOffer": {
        "type": "object",
        "description": "An offer for a credit card",
        "required": [
          "details"
        ],
        "properties": {
          "details": {
            "$ref": "#/components/schemas/CreditCardOfferDetails"
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/Offer"
          }
        ]
      },
      "CreditCardOfferDetails": {
        "type": "object",
        "required": [
          "cardImageUrl",
          "cardType",
          "preQualified",
          "preApproved",
          "preSelected"
        ],
        "properties": {
          "cardName": {
            "type": "string",
            "description": "Display name of the card"
          },
          "cardImageUrl": {
            "type": "string",
            "format": "url"
          },
          "cardPurposes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CardPurpose"
            }
          },
          "ratesUrl": {
            "type": "string",
            "format": "url",
            "description": "External link to card rates, terms and conditions"
          },
          "maxPurchaseApr": {
            "type": "number"
          },
          "minPurchaseApr": {
            "type": "number"
          },
          "purchaseAprText": {
            "type": "string"
          },
          "maxPurchaseIntroApr": {
            "type": "number"
          },
          "minPurchaseIntroApr": {
            "type": "number"
          },
          "purchaseIntroAprTerm": {
            "type": "integer",
            "format": "int32"
          },
          "purchaseIntroAprTermUnit": {
            "$ref": "#/components/schemas/TermUnit"
          },
          "purchaseIntroAprText": {
            "type": "string"
          },
          "maxCashAdvanceApr": {
            "type": "number"
          },
          "minCashAdvanceApr": {
            "type": "number"
          },
          "cashAdvanceAprText": {
            "type": "string"
          },
          "maxCashAdvanceIntroApr": {
            "type": "number"
          },
          "minCashAdvanceIntroApr": {
            "type": "number"
          },
          "cashAdvanceIntroAprTerm": {
            "type": "integer",
            "format": "int32"
          },
          "cashAdvanceIntroAprTermUnit": {
            "$ref": "#/components/schemas/TermUnit"
          },
          "cashAdvanceIntroAprText": {
            "type": "string"
          },
          "maxBalanceTransferApr": {
            "type": "number"
          },
          "minBalanceTransferApr": {
            "type": "number"
          },
          "balanceTransferAprText": {
            "type": "string"
          },
          "maxBalanceTransferIntroApr": {
            "type": "number"
          },
          "minBalanceTransferIntroApr": {
            "type": "number"
          },
          "balanceTransferIntroAprTerm": {
            "type": "integer",
            "format": "int32"
          },
          "balanceTransferIntroAprTermUnit": {
            "$ref": "#/components/schemas/TermUnit"
          },
          "balanceTransferIntroAprText": {
            "type": "string"
          },
          "maxAnnualFee": {
            "type": "number"
          },
          "minAnnualFee": {
            "type": "number"
          },
          "annualIntroFee": {
            "type": "number"
          },
          "annualIntroFeeTerm": {
            "type": "integer",
            "format": "int32",
            "description": "Number of _years_ the introductory anual fee is in effect"
          },
          "introOfferAmount": {
            "type": "number"
          },
          "introOfferText": {
            "type": "string"
          },
          "introOfferType": {
            "$ref": "#/components/schemas/IntroOfferType"
          },
          "details": {
            "type": "array",
            "description": "List of card features which must be prominently displayed with the offer",
            "items": {
              "type": "string"
            }
          },
          "additionalDetails": {
            "type": "array",
            "description": "List of card features which must be displayed with the offer",
            "items": {
              "type": "string"
            }
          },
          "cardType": {
            "$ref": "#/components/schemas/CardType"
          },
          "minimumCreditLine": {
            "type": "number"
          },
          "minimumPenaltyApr": {
            "type": "number"
          },
          "maximumPenaltyApr": {
            "type": "number"
          },
          "balanceTransferFee": {
            "type": "number"
          },
          "cashAdvanceFee": {
            "type": "number"
          },
          "lateFee": {
            "type": "number"
          },
          "foreignExchangeFee": {
            "type": "number"
          },
          "accountOpeningFee": {
            "type": "number"
          },
          "returnPaymentFee": {
            "type": "number"
          },
          "monthlyServiceFee": {
            "type": "number"
          },
          "recommendedCreditRatings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProvidedCreditRating"
            }
          },
          "preQualified": {
            "type": "boolean"
          },
          "preApproved": {
            "type": "boolean"
          },
          "preSelected": {
            "type": "boolean",
            "description": "Indicates that Engine by MoneyLion has determined that the user has an increased likelihood of being approved for this card."
          },
          "foreignTransactionFee": {
            "type": "number",
            "format": "double",
            "description": "Percentage represented in decimal format added to all foreign transactions"
          },
          "cardBenefits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CardBenefit"
            }
          }
        }
      },
      "ClientTags": {
        "type": "object",
        "description": "Arbitrary key-values mappings to associate with a `Lead`. This field can be use to attach `subid`s to a `Lead`",
        "additionalProperties": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "maxProperties": 1,
        "minProperties": 1,
        "example": {
          "subid": [
            "123"
          ]
        }
      },
      "ConversionEventData": {
        "type": "object",
        "title": "conversion",
        "properties": {
          "payoutInCents": {
            "type": "integer",
            "format": "int32",
            "description": "The number of cents paid out for the conversion event.\n"
          },
          "productType": {
            "$ref": "#/components/schemas/ProductType",
            "description": "The product type of the converted offer.\n"
          }
        }
      },
      "EducationLevel": {
        "type": "string",
        "enum": [
          "high_school",
          "associate",
          "bachelors",
          "masters",
          "doctorate",
          "other_grad_degree",
          "certificate",
          "did_not_graduate",
          "still_enrolled",
          "other"
        ]
      },
      "EmploymentPayFrequency": {
        "type": "string",
        "enum": [
          "weekly",
          "biweekly",
          "twice_monthly",
          "monthly"
        ]
      },
      "EmploymentStatus": {
        "type": "string",
        "enum": [
          "employed",
          "employed_full_time",
          "employed_part_time",
          "military",
          "not_employed",
          "self_employed",
          "retired",
          "other"
        ]
      },
      "EventData": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ApiApprovedEventData"
          },
          {
            "$ref": "#/components/schemas/ApiRejectedEventData"
          },
          {
            "$ref": "#/components/schemas/AppliedEventData"
          },
          {
            "$ref": "#/components/schemas/ApprovedEventData"
          },
          {
            "$ref": "#/components/schemas/ConversionEventData"
          },
          {
            "$ref": "#/components/schemas/FundedEventData"
          },
          {
            "$ref": "#/components/schemas/ListedEventData"
          },
          {
            "$ref": "#/components/schemas/OfferClickedEventData"
          },
          {
            "$ref": "#/components/schemas/OpenedEventData"
          }
        ]
      },
      "EventType": {
        "type": "string",
        "enum": [
          "leadCreated",
          "appSubmitted",
          "apiApproved",
          "apiRejected",
          "offerClicked",
          "lenderQualifiedLead",
          "applied",
          "approved",
          "listed",
          "opened",
          "funded",
          "conversion"
        ]
      },
      "FeaturedFinancialInstitution": {
        "type": "object",
        "required": [
          "uuid",
          "name",
          "logoUrl"
        ],
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "readOnly": true,
            "description": "A unique identifier for the financial institution.\n"
          },
          "name": {
            "type": "string",
            "readOnly": true,
            "description": "The name of the financial institution. This value is subject to\nchange, so `financialInstitutionUuid` should be used for grouping.\n"
          },
          "logoUrl": {
            "type": "string",
            "format": "url",
            "readOnly": true,
            "description": "The URL of an image logo for the associated financial institution.\n"
          }
        }
      },
      "FederalInsuranceType": {
        "type": "string",
        "enum": [
          "fdic",
          "ncua"
        ]
      },
      "FinancialInstitutionLoanReport": {
        "type": "object",
        "required": [
          "uuid",
          "name",
          "probabilities"
        ],
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "The unique identifier for the financial institution."
          },
          "name": {
            "type": "string",
            "description": "The name of the financial institution."
          },
          "logoUrl": {
            "type": "string",
            "description": "A URL of a logo for the financial institution."
          },
          "probabilities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LoanProbability"
            },
            "description": "The approval probabilities for the financial intitution."
          }
        }
      },
      "FundedEventData": {
        "type": "object",
        "title": "funded",
        "properties": {
          "amount": {
            "type": "integer",
            "format": "int32",
            "description": "The dollar amount of the offer that was funded.\n"
          },
          "productType": {
            "$ref": "#/components/schemas/ProductType",
            "description": "The product type of the funded offer.\n"
          }
        }
      },
      "IdType": {
        "type": "string",
        "enum": [
          "driver_license",
          "state_id",
          "passport"
        ]
      },
      "IncentiveDetails": {
        "type": "object",
        "required": [
          "amount",
          "unit",
          "display",
          "type"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "format": "double"
          },
          "unit": {
            "$ref": "#/components/schemas/IncentiveUnit"
          },
          "display": {
            "type": "string",
            "maxLength": 20
          },
          "type": {
            "$ref": "#/components/schemas/IncentiveType"
          }
        }
      },
      "IncentiveType": {
        "type": "string",
        "description": "Unit of measure for incentives.\n",
        "enum": [
          "cash_back",
          "other"
        ]
      },
      "IncentiveUnit": {
        "type": "string",
        "description": "Unit of measure for incentives.\n",
        "enum": [
          "usd",
          "other"
        ]
      },
      "GraduateDegreeType": {
        "type": "string",
        "enum": [
          "doctor_of_medicine",
          "doctor_of_osteopathic_medicine",
          "doctor_of_optometry",
          "doctor_of_dental_medicine",
          "dentariae_medicinae_doctoris",
          "doctor_of_dental_surgery",
          "doctor_of_veterinary_medicine",
          "doctor_of_pharmacy",
          "veterinariae_medicinae_doctoris",
          "master_of_arts",
          "master_of_science",
          "master_of_research",
          "master_of_research_project",
          "master_of_studies",
          "master_of_business_administration",
          "master_of_library_science",
          "master_of_public_administration",
          "master_of_public_health",
          "master_of_laws",
          "master_of_arts_liberal_studies",
          "master_of_fine_arts",
          "master_of_music",
          "master_of_education",
          "master_of_engineering",
          "master_of_architecture",
          "juris_doctor",
          "other"
        ]
      },
      "Gender": {
        "type": "string",
        "enum": [
          "male",
          "female"
        ]
      },
      "IntroOfferType": {
        "type": "string",
        "enum": [
          "miles",
          "points",
          "statement_credit"
        ]
      },
      "Lead": {
        "type": "object",
        "required": [
          "leadProviderName",
          "uuid",
          "companyUUID",
          "isTest",
          "status",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "leadProviderName": {
            "type": "string",
            "description": "Name of company which provided the lead"
          },
          "personalInformation": {
            "$ref": "#/components/schemas/LeadPersonalInformation"
          },
          "personalReferenceInformation": {
            "$ref": "#/components/schemas/PersonalReferenceInformation"
          },
          "loanInformation": {
            "$ref": "#/components/schemas/LeadLoanInformation"
          },
          "mortgageInformation": {
            "$ref": "#/components/schemas/LeadMortgageInformation"
          },
          "creditCardInformation": {
            "$ref": "#/components/schemas/LeadCreditCardInformation"
          },
          "savingsInformation": {
            "$ref": "#/components/schemas/LeadSavingsInformation"
          },
          "creditInformation": {
            "$ref": "#/components/schemas/LeadCreditInformation"
          },
          "financialInformation": {
            "$ref": "#/components/schemas/LeadFinancialInformation"
          },
          "employmentInformation": {
            "$ref": "#/components/schemas/LeadEmploymentInformation"
          },
          "legalInformation": {
            "$ref": "#/components/schemas/LeadLegalInformation"
          },
          "educationInformation": {
            "$ref": "#/components/schemas/LeadEducationInformation"
          },
          "coApplicantInformation": {
            "$ref": "#/components/schemas/LeadCoApplicantInformation"
          },
          "healthInformation": {
            "$ref": "#/components/schemas/LeadHealthInformation"
          },
          "identificationInformation": {
            "$ref": "#/components/schemas/LeadIdentificationInformation"
          },
          "autoInsuranceInformation": {
            "$ref": "#/components/schemas/LeadAutoInsuranceInformation"
          },
          "refinanceLoans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RefinanceLoanInformation"
            }
          },
          "clientTags": {
            "$ref": "#/components/schemas/ClientTags"
          },
          "sessionInformation": {
            "$ref": "#/components/schemas/LeadSessionInformation"
          },
          "leadActions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LeadAction"
            }
          },
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "Primary UUID for a `Lead`"
          },
          "companyUUID": {
            "type": "string",
            "format": "uuid",
            "description": "UUID for a company which created the `Lead`"
          },
          "sessionUuid": {
            "type": "string",
            "format": "uuid",
            "description": "UUID used to link leads across verticals, unique per user per supply sub-account"
          },
          "deviceId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the lead's device."
          },
          "referralCompanyUuid": {
            "type": "string",
            "format": "uuid",
            "deprecated": true
          },
          "trackingUuid": {
            "type": "string",
            "format": "uuid"
          },
          "isTest": {
            "type": "boolean",
            "description": "Whether a `Lead` was created using a test access token"
          },
          "status": {
            "description": "The furthest step of the funnel a `Lead` has reached",
            "allOf": [
              {
                "$ref": "#/components/schemas/LeadActionType"
              }
            ]
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        }
      },
      "LeadAutoInsuranceInformation": {
        "type": "object",
        "properties": {
          "numberOfVehicles": {
            "type": "integer",
            "format": "int32"
          },
          "hasAutoInsurance": {
            "type": "boolean"
          }
        }
      },
      "LeadBestTimeToCall": {
        "type": "string",
        "enum": [
          "morning",
          "afternoon",
          "evening",
          "night"
        ]
      },
      "LeadCoApplicantInformation": {
        "type": "object",
        "description": "The personal information of a co-applicant that may be considered in the\nunderwriting and approval of a loan.\n",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date"
          },
          "annualIncome": {
            "type": "integer",
            "format": "int32"
          },
          "streetAddress1": {
            "type": "string",
            "description": "Street address (primary address line)"
          },
          "streetAddress2": {
            "type": "string",
            "description": "Secondary address line"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "$ref": "#/components/schemas/State"
          },
          "zipcode": {
            "type": "string",
            "pattern": "^\\d{5}([-\\s]\\d{4})?$"
          }
        }
      },
      "LeadCreditInformation": {
        "type": "object",
        "description": "Credit history information relating to a `Lead`",
        "properties": {
          "providedCreditRating": {
            "$ref": "#/components/schemas/ProvidedCreditRating"
          },
          "providedNumericCreditScore": {
            "type": "integer",
            "format": "int32",
            "description": "FICO credit score provided by a `Lead`"
          }
        }
      },
      "LeadCreditCardInformation": {
        "type": "object",
        "properties": {
          "allowAnnualFee": {
            "type": "boolean"
          },
          "cardPurposes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CardPurpose"
            },
            "description": "A list of card purposes in which the lead is interested"
          }
        }
      },
      "LeadClientTagsResponse": {
        "type": "object",
        "required": [
          "nextUrl",
          "shouldContinuePolling",
          "data"
        ],
        "properties": {
          "nextUrl": {
            "type": "string",
            "description": "A URL which identifies where the next batch of LeadClientTags can be queried for.\n"
          },
          "shouldContinuePolling": {
            "type": "boolean",
            "description": "If true, data is currently available at `nextUrl`. \n  Calling the `nextUrl` at the current time will return the next batch of data.  \nIf false, calling `nextUrl` at the current time will return an error response from the API.  \n  Data will be made available at a later time (at the next hour mark).\n"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LeadClientTag"
            },
            "description": "Lead client tag data for the requested time window.\n"
          }
        }
      },
      "LeadClientTag": {
        "type": "object",
        "required": [
          "hash",
          "leadUuid",
          "key",
          "value",
          "createdAt"
        ],
        "properties": {
          "hash": {
            "type": "string",
            "description": "A unique hash for the client tag to assist with deduplication.\n"
          },
          "leadUuid": {
            "type": "string",
            "format": "uuid",
            "description": "The UUID of the lead that this client tag belongs to.\n"
          },
          "key": {
            "type": "string",
            "description": "The key of this client tag.\n"
          },
          "value": {
            "type": "string",
            "description": "The latest value for the client tag key.\n"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The time that this client tag was added to the lead.\n"
          }
        }
      },
      "LeadCreateData": {
        "type": "object",
        "properties": {
          "productTypes": {
            "type": "array",
            "description": "Product types in which the `Lead` is interested",
            "items": {
              "$ref": "#/components/schemas/ProductType"
            }
          },
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "Primary UUID for a `Lead`"
          },
          "sessionUuid": {
            "type": "string",
            "format": "uuid",
            "description": "UUID used to link leads across verticals, unique per user per supply sub-account"
          },
          "deviceId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the lead's device."
          },
          "loanInformation": {
            "$ref": "#/components/schemas/LeadLoanInformation"
          },
          "personalInformation": {
            "$ref": "#/components/schemas/LeadPersonalInformation"
          },
          "personalReferenceInformation": {
            "$ref": "#/components/schemas/PersonalReferenceInformation"
          },
          "mortgageInformation": {
            "$ref": "#/components/schemas/LeadMortgageInformation"
          },
          "creditCardInformation": {
            "$ref": "#/components/schemas/LeadCreditCardInformation"
          },
          "savingsInformation": {
            "$ref": "#/components/schemas/LeadSavingsInformation"
          },
          "creditInformation": {
            "$ref": "#/components/schemas/LeadCreditInformation"
          },
          "financialInformation": {
            "$ref": "#/components/schemas/LeadFinancialInformation"
          },
          "employmentInformation": {
            "$ref": "#/components/schemas/LeadEmploymentInformation"
          },
          "legalInformation": {
            "$ref": "#/components/schemas/LeadLegalInformation"
          },
          "educationInformation": {
            "$ref": "#/components/schemas/LeadEducationInformation"
          },
          "coApplicantInformation": {
            "$ref": "#/components/schemas/LeadCoApplicantInformation"
          },
          "healthInformation": {
            "$ref": "#/components/schemas/LeadHealthInformation"
          },
          "autoInsuranceInformation": {
            "$ref": "#/components/schemas/LeadAutoInsuranceInformation"
          },
          "refinanceLoans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RefinanceLoanInformation"
            },
            "description": "One or more loans that the lead wishes to refinance or consolidate"
          },
          "identificationInformation": {
            "$ref": "#/components/schemas/LeadIdentificationInformation"
          },
          "clientTags": {
            "$ref": "#/components/schemas/ClientTags"
          },
          "sessionInformation": {
            "$ref": "#/components/schemas/LeadSessionInformation"
          },
          "formCompleted": {
            "type": "boolean",
            "description": "Whether the `Lead` has completed an application form",
            "deprecated": true
          },
          "referralCompanyUuid": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of company from which the `Lead` was referred",
            "deprecated": true
          },
          "trackingUuid": {
            "type": "string",
            "format": "uuid",
            "description": "UUID for internal Engine by MoneyLion tracking purposes. This field should never be set by 3rd party API consumers",
            "deprecated": true
          }
        },
        "example": {
          "summary": "A lead request",
          "value": {
            "productTypes": [
              "loan",
              "savings"
            ],
            "personalInformation": {
              "firstName": "John",
              "lastName": "Doe",
              "email": "john@example.com",
              "city": "New York",
              "state": "NY",
              "workPhone": "2125551234",
              "primaryPhone": "2125556789",
              "address1": "45 West 21st Street",
              "address2": "5th Floor",
              "zipcode": "10010",
              "monthsAtAddress": 5,
              "driversLicenseNumber": "111222333",
              "driversLicenseState": "NY",
              "ipAddress": "8.8.8.8",
              "activeMilitary": false,
              "militaryVeteran": true,
              "dateOfBirth": "1993-10-09",
              "ssn": "111-22-3333"
            },
            "loanInformation": {
              "purpose": "debt_consolidation",
              "loanAmount": 10000
            },
            "mortgageInformation": {
              "propertyType": "condo",
              "propertyStatus": "own_with_mortgage",
              "propertyValue": 200000,
              "mortgageBalance": 10000,
              "lenderName": "Bank OF NY",
              "hasFHALoan": true,
              "currentWithLoan": true
            },
            "creditCardInformation": {
              "allowAnnualFee": true,
              "cardPurposes": [
                "travel_incentives"
              ]
            },
            "savingsInformation": {
              "minDepositAmount": 1000
            },
            "creditInformation": {
              "providedCreditRating": "excellent",
              "providedNumericCreditScore": 750
            },
            "financialInformation": {
              "creditCardDebt": 5000,
              "employmentStatus": "employed",
              "employmentPayFrequency": "weekly",
              "annualIncome": 120000,
              "monthlyNetIncome": 10000,
              "bankName": "Santander",
              "bankRoutingNumber": "231372691",
              "bankAccountType": "savings",
              "monthsAtBank": 10,
              "bankAccountNumber": "1234567890"
            },
            "employmentInformation": {
              "employerName": "Engine by MoneyLion",
              "employerAddress": "45 W 21st St",
              "employerCity": "New York",
              "employerState": "NY",
              "employerZip": "10010",
              "jobTitle": "Software Engineer",
              "monthsEmployed": 14,
              "directDeposit": true,
              "payDate1": "2004-10-06",
              "payDate2": "2004-11-06"
            },
            "educationInformation": {
              "educationLevel": "masters",
              "graduateDegreeType": "master_of_science",
              "universityAttended": "Johns Hopkins University"
            },
            "coApplicantInformation": {
              "firstName": "Jane",
              "lastName": "Doe",
              "dateOfBirth": "1984-03-06",
              "annualIncome": 100000,
              "streetAddress1": "45 West 21st Street",
              "streetAddress2": "5th Floor",
              "city": "New York",
              "state": "NY",
              "zipcode": "10010"
            },
            "healthInformation": {
              "gender": "male",
              "heightInInches": 72,
              "weightInPounds": 195,
              "tobaccoSmoker": false
            },
            "autoInsuranceInformation": {
              "numberOfVehicles": 1,
              "hasAutoInsurance": true
            },
            "legalInformation": {
              "consentsToFcra": true,
              "consentsToTcpa": true,
              "fcraLanguage": "By checking this box/clicking 'agree' I hereby consent to the 'E-Sign Agreement', the 'Credit Authorization Agreement', the Terms of Service and Privacy Policy, and I am providing written consent under the Fair Credit Reporting Act (FCRA) for [Engine by MoneyLion and/or Insert Company Name], its partners and financial institutions to obtain consumer report information from my credit profile. I request that my information be provided to their partners, lenders, and financial services partners to provide me with financial recommendations, which may also include debt relief, credit repair, credit monitoring or other related services",
              "tcpaLanguage": "I agree to be contacted by [Engine by MoneyLion and/or Insert Company Name] its partners and their affiliated companies and financial institutions via email, postal mail service and/or at the telephone number(s) I have provided above to explore various financial products and services I inquired about, including contact through automatic dialing systems, artificial or pre-recorded voice messaging, or text message. Consent is not required as a condition to utilize the service, and you may choose to be contacted by an individual customer care representative(s) by calling XXXXX or emailing XXXX"
            },
            "clientTags": {
              "hello": [
                "world",
                "there"
              ],
              "something": [
                "else"
              ]
            }
          }
        }
      },
      "LeadEducationInformation": {
        "type": "object",
        "properties": {
          "educationLevel": {
            "$ref": "#/components/schemas/EducationLevel"
          },
          "graduateDegreeType": {
            "$ref": "#/components/schemas/GraduateDegreeType"
          },
          "universityAttended": {
            "type": "string",
            "description": "Name of university where a lead received their undergraduate degree.\nA lookup service for possible universities is available from using the /leads/universities endpoint.\nTo maximize returned offers, this string must match one of the names returned from the lookup.\n",
            "deprecated": true
          },
          "universityOpeId": {
            "type": "string",
            "$ref": "#/components/schemas/OpeId"
          },
          "graduationDate": {
            "type": "string",
            "format": "date",
            "description": "Date the lead graudated from undergrad (YYYY-MM-DD)",
            "deprecated": true
          },
          "graduateGraduationDate": {
            "type": "string",
            "format": "date",
            "description": "Lead's graduate school graduation date (YYYY-MM-DD)"
          },
          "graduateLastAttendedDate": {
            "type": "string",
            "format": "date",
            "description": "Lead's last attended month/year for graduate school (YYYY-MM-DD)"
          },
          "graduateUniversityAttended": {
            "type": "string",
            "description": "Name of university where a lead received their graduate degree.\nA lookup service for possible universities is available from using the /leads/universities endpoint.\nTo maximize returned offers, this string must match one of the names returned from the lookup.\n"
          },
          "graduateUniversityOpeId": {
            "$ref": "#/components/schemas/OpeId"
          },
          "undergraduateGraduationDate": {
            "type": "string",
            "format": "date",
            "description": "Date the lead graduated from undergrad (YYYY-MM-DD)."
          },
          "undergraduateLastAttendedDate": {
            "type": "string",
            "format": "date",
            "description": "Lead's last attended month/year for undergrad (YYYY-MM-DD)"
          },
          "undergraduateUniversityAttended": {
            "type": "string",
            "description": "Name of university where a lead received their undergraduate degree.\nA lookup service for possible universities is available from using the /leads/universities endpoint.\nTo maximize returned offers, this string must match one of the names returned from the lookup.\n"
          },
          "undergraduateUniversityOpeId": {
            "type": "string",
            "$ref": "#/components/schemas/OpeId"
          }
        }
      },
      "LeadEducationLevel": {
        "$ref": "#/components/schemas/EducationLevel"
      },
      "LeadEmploymentInformation": {
        "type": "object",
        "properties": {
          "employerName": {
            "type": "string"
          },
          "employerAddress": {
            "type": "string"
          },
          "employerAddress2": {
            "type": "string"
          },
          "employerCity": {
            "type": "string"
          },
          "employerPhone": {
            "type": "string"
          },
          "employerState": {
            "type": "string"
          },
          "employerZip": {
            "type": "string"
          },
          "jobTitle": {
            "type": "string"
          },
          "monthsEmployed": {
            "type": "integer",
            "format": "int32"
          },
          "directDeposit": {
            "type": "boolean",
            "description": "Whether a `Lead` uses direct deposit for their salary"
          },
          "payDate1": {
            "type": "string",
            "format": "date"
          },
          "payDate2": {
            "type": "string",
            "format": "date"
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "The date the lead started working at their current employer (YYYY-MM-DD)"
          }
        }
      },
      "LeadFinancialInformation": {
        "type": "object",
        "properties": {
          "employmentStatus": {
            "$ref": "#/components/schemas/EmploymentStatus"
          },
          "employmentPayFrequency": {
            "$ref": "#/components/schemas/EmploymentPayFrequency"
          },
          "annualIncome": {
            "type": "integer",
            "format": "int32"
          },
          "monthlyNetIncome": {
            "type": "integer",
            "format": "int32"
          },
          "bankName": {
            "type": "string"
          },
          "bankRoutingNumber": {
            "type": "string"
          },
          "bankAccountType": {
            "$ref": "#/components/schemas/BankAccountType"
          },
          "creditCardDebt": {
            "type": "integer",
            "format": "int32"
          },
          "monthsAtBank": {
            "type": "integer",
            "format": "int32"
          },
          "bankAccountNumber": {
            "type": "string"
          },
          "monthlyDebt": {
            "type": "integer",
            "format": "int32"
          },
          "totalAssets": {
            "type": "integer",
            "format": "int32"
          },
          "monthlyHousingPayment": {
            "type": "integer",
            "format": "int32"
          },
          "availableAssets": {
            "type": "integer",
            "format": "int32"
          },
          "additionalIncome": {
            "type": "integer",
            "format": "int32",
            "description": "The amount of additional income the lead recieves"
          },
          "additionalIncomeFrequency": {
            "$ref": "#/components/schemas/EmploymentPayFrequency",
            "description": "The frequency the lead recieves additional income"
          },
          "hasDirectDeposit": {
            "type": "boolean",
            "description": "Do you have a direct deposit?"
          },
          "totalUnsecuredDebt": {
            "type": "integer",
            "format": "int32",
            "description": "Approximate total unsecured debt in dollars"
          }
        }
      },
      "LeadHealthInformation": {
        "type": "object",
        "properties": {
          "gender": {
            "$ref": "#/components/schemas/Gender"
          },
          "heightInInches": {
            "type": "integer",
            "format": "int32"
          },
          "weightInPounds": {
            "type": "integer",
            "format": "int32"
          },
          "tobaccoSmoker": {
            "type": "boolean"
          }
        }
      },
      "LeadIdentificationInformation": {
        "type": "object",
        "properties": {
          "idNumber": {
            "type": "string",
            "description": "The ID number supplied by the lead"
          },
          "idState": {
            "type": "string",
            "description": "The state of issue of the supplied ID"
          },
          "idType": {
            "$ref": "#/components/schemas/IdType",
            "description": "The form of the ID number supplied by the lead"
          }
        }
      },
      "LeadLegalInformation": {
        "type": "object",
        "description": "Information regarding a `Lead`'s communication concent",
        "properties": {
          "consentsToFcra": {
            "type": "boolean",
            "description": "Whether the lead was shown, and consented to a Fair Credit Reporting Act notice"
          },
          "consentsToSms": {
            "type": "boolean",
            "description": "The lead agrees to recieve SMS text messages from the Financial Institution"
          },
          "consentsToTcpa": {
            "type": "boolean",
            "description": "Whether the lead was shown, and consented to a Telephone Consumer Protection Act notice"
          },
          "fcraLanguage": {
            "type": "string",
            "description": "The exact FCRA language to which the lead consented"
          },
          "tcpaLanguage": {
            "type": "string",
            "description": "The exact TCPA language to which the lead consented"
          }
        }
      },
      "LeadLoanInformation": {
        "type": "object",
        "properties": {
          "purpose": {
            "$ref": "#/components/schemas/LoanPurpose"
          },
          "loanAmount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "LeadMortgageInformation": {
        "type": "object",
        "properties": {
          "propertyType": {
            "$ref": "#/components/schemas/PropertyType"
          },
          "propertyValue": {
            "type": "integer",
            "format": "int32"
          },
          "mortgageBalance": {
            "type": "integer",
            "format": "int32"
          },
          "lenderName": {
            "type": "string"
          },
          "hasFHALoan": {
            "type": "boolean"
          },
          "currentWithLoan": {
            "type": "boolean"
          },
          "propertyStatus": {
            "$ref": "#/components/schemas/PropertyStatus"
          },
          "mortgageType": {
            "$ref": "#/components/schemas/MortgageType"
          },
          "mortgageAmount": {
            "type": "integer",
            "format": "int32",
            "description": "Amount the lead will borrow"
          },
          "downPaymentAmount": {
            "type": "integer",
            "format": "int32"
          },
          "propertyState": {
            "type": "string"
          },
          "propertyCounty": {
            "type": "string"
          },
          "propertyAddress1": {
            "type": "string",
            "description": "Street address (primary address line)"
          },
          "propertyAddress2": {
            "type": "string",
            "description": "Secondary address line"
          },
          "propertyZipcode": {
            "type": "string"
          },
          "propertyCity": {
            "type": "string"
          },
          "refinanceAmount": {
            "type": "integer",
            "format": "int32",
            "description": "Amount the lead will borrow for refinancing an existing mortgage"
          },
          "cashOutAmount": {
            "type": "integer",
            "format": "int32",
            "description": "Additional amount the lead will borrow against existing home equity in the case of refinance"
          },
          "occupancyType": {
            "$ref": "#/components/schemas/OccupancyType"
          },
          "refinanceType": {
            "$ref": "#/components/schemas/RefinanceType"
          },
          "propertySearchStatus": {
            "$ref": "#/components/schemas/PropertySearchStatus"
          },
          "numUnits": {
            "type": "integer",
            "format": "int32",
            "description": "The number of legal units on the property"
          },
          "closingDate": {
            "type": "string",
            "format": "date"
          },
          "purchaseStatus": {
            "$ref": "#/components/schemas/PurchaseStatus"
          },
          "purchaseDate": {
            "type": "string",
            "format": "date"
          },
          "monthlyHoaFee": {
            "type": "number",
            "format": "float",
            "description": "The amount of the HOA fee for the lead"
          },
          "mortgageCompany": {
            "type": "string",
            "description": "The name of the company holding the lead's mortgage"
          },
          "mortgageEscrowAmount": {
            "type": "number",
            "format": "float",
            "description": "The amount of escrow the lead pays"
          }
        }
      },
      "LeadPersonalInformation": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "aliasFirstName": {
            "type": "string",
            "description": "The first name the lead uses as an alias"
          },
          "aliasLastName": {
            "type": "string",
            "description": "The last name the lead uses as an alias"
          },
          "email": {
            "type": "string",
            "format": "email",
            "pattern": "^[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "$ref": "#/components/schemas/State"
          },
          "workPhone": {
            "type": "string",
            "pattern": "^1?\\d{10}$"
          },
          "primaryPhone": {
            "type": "string",
            "pattern": "^1?\\d{10}$"
          },
          "bestTimeToCall": {
            "$ref": "#/components/schemas/LeadBestTimeToCall"
          },
          "address1": {
            "type": "string",
            "description": "Street address (primary address line)"
          },
          "address2": {
            "type": "string",
            "description": "Secondary address line"
          },
          "addressMoveInDate": {
            "type": "string",
            "format": "date",
            "description": "The date the lead moved into their current address"
          },
          "zipcode": {
            "type": "string",
            "pattern": "^\\d{5}([-\\s]\\d{4})?$"
          },
          "monthsAtAddress": {
            "type": "integer",
            "format": "int32",
            "description": "Number of months the provided address has been the lead's primary residence"
          },
          "driversLicenseNumber": {
            "type": "string"
          },
          "driversLicenseState": {
            "type": "string",
            "description": "State in which the driver's license was issued"
          },
          "ipAddress": {
            "type": "string",
            "format": "ip",
            "description": "IP address"
          },
          "activeMilitary": {
            "type": "boolean",
            "description": "Whether the lead is currently in the military (not a veteran)"
          },
          "militaryVeteran": {
            "type": "boolean",
            "description": "Whether the lead is a veteran (should not be used if the lead is active in the military)"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date"
          },
          "educationLevel": {
            "deprecated": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/EducationLevel"
              }
            ]
          },
          "ssn": {
            "type": "string",
            "pattern": "^(?!\\b(\\d)\\1+-(\\d)\\1+-(\\d)\\1+\\b)(?!123-45-6789|219-09-9999|078-05-1120)(?!666|000|9\\d{2})\\d{3}-(?!00)\\d{2}-(?!0{4})\\d{4}$"
          },
          "citizenshipStatus": {
            "$ref": "#/components/schemas/CitizenshipStatus"
          }
        }
      },
      "LeadSavingsInformation": {
        "type": "object",
        "properties": {
          "minDepositAmount": {
            "type": "integer",
            "format": "int64",
            "description": "The minimum amount a `Lead` is interested in depositing when opening a new savings account"
          },
          "maxDepositAmount": {
            "type": "integer",
            "format": "int64",
            "description": "The maximum amount a `Lead` is interested in depositing when opening a new savings account"
          }
        }
      },
      "LeadSessionInformation": {
        "type": "object",
        "description": "Browsing session information accociated with a `Lead`",
        "properties": {
          "ipAddress": {
            "type": "string"
          },
          "userAgent": {
            "type": "string"
          },
          "browserFingerprint": {
            "type": "string"
          }
        }
      },
      "LeadAction": {
        "type": "object",
        "required": [
          "uuid",
          "actionType",
          "actionDate",
          "demandSubAccountId",
          "createdAt"
        ],
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "actionType": {
            "$ref": "#/components/schemas/LeadActionType"
          },
          "actionDate": {
            "type": "string",
            "format": "date-time"
          },
          "originatorKey": {
            "type": "string"
          },
          "demandSubAccountId": {
            "type": "integer",
            "format": "int64"
          },
          "rejectReason": {
            "$ref": "#/components/schemas/RejectReason"
          },
          "amount": {
            "type": "integer",
            "format": "int32"
          },
          "originationFee": {
            "type": "integer",
            "format": "int32"
          },
          "offerClickId": {
            "type": "integer",
            "format": "int64"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LeadActionType": {
        "type": "string",
        "enum": [
          "initialized",
          "api_rejected",
          "api_approved",
          "api_listing",
          "clicked_referral_link",
          "clicked_special_offer_link",
          "special_offer_conversion",
          "applied",
          "rejected",
          "approved",
          "listed",
          "funded",
          "not_funded",
          "clicked_credit_card_offer_link",
          "clicked_mortgage_offer_link",
          "clicked_savings_offer_link",
          "lender_qualified_lead"
        ]
      },
      "LeadEvent": {
        "type": "object",
        "required": [
          "id",
          "isTest",
          "leadUuid",
          "leadCreatedAt",
          "eventType",
          "eventCreatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "A hash of the `leadUuid`, `eventType` and `eventCreatedAt` which uniquely identifies a leadEvent.\n"
          },
          "leadUuid": {
            "type": "string",
            "format": "uuid",
            "description": "The unique identifier for the associated lead.\n"
          },
          "leadCreatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "The time that the associated lead was created.\n"
          },
          "eventType": {
            "$ref": "#/components/schemas/EventType"
          },
          "eventCreatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "The time that the event occurred.\n"
          },
          "eventData": {
            "$ref": "#/components/schemas/EventData",
            "description": "Supplemental data about the event that is specific to the `eventType`. For events that occur in a financial institution's experience, the availability of the data may vary depending on the FI.\n"
          },
          "amountInCents": {
            "type": "integer",
            "format": "int32",
            "description": "The amount of liquidity provided to the end user by the FI. Only present for some events.\n"
          },
          "financialInstitutionUuid": {
            "type": "string",
            "format": "uuid",
            "description": "A unique identifier for the associated financial institution. Only present for event types associated with financial institutions.\n"
          },
          "financialInstitutionName": {
            "type": "string",
            "description": "The name of the associated financial institution. This value is subject to change, so `financialInstitutionUuid` should be used as a stable identifier. Only present for event types associated with financial institutions.\n"
          },
          "productType": {
            "$ref": "#/components/schemas/ProductType",
            "description": "The product type for the associated offer. Only present for event types associated with offers.\n"
          },
          "isTest": {
            "type": "boolean",
            "description": "Whether a `Lead` was created using a test access token"
          }
        }
      },
      "LeadEventResponse": {
        "type": "object",
        "required": [
          "nextUrl",
          "shouldContinuePolling",
          "data"
        ],
        "properties": {
          "nextUrl": {
            "type": "string",
            "description": "The URL for the next request.\n"
          },
          "shouldContinuePolling": {
            "type": "boolean",
            "description": "If true, data is currently available at `nextUrl`. \n  Calling the `nextUrl` at the current time will return the next batch of data.  \nIf false, calling `nextUrl` at the current time will return an error response from the API.  \n  Data will be made available at a later time (at the next hour mark).\n"
          },
          "data": {
            "type": "array",
            "description": "Lead event data for the requested time window.\n",
            "items": {
              "$ref": "#/components/schemas/LeadEvent"
            }
          }
        }
      },
      "LeadPayout": {
        "type": "object",
        "required": [
          "leadUuid",
          "bookedAt"
        ],
        "properties": {
          "leadUuid": {
            "type": "string",
            "format": "uuid",
            "description": "The unique identifier for the associated lead.\n"
          },
          "bookedAt": {
            "type": "string",
            "format": "date-time",
            "description": "The time that this payout to a supply partner was booked.\n"
          },
          "payoutInCents": {
            "type": "number",
            "format": "double",
            "description": "The payout amount in cents made available to the supply partner. May be fractional.\n"
          },
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "The unique identifier for the associated payout event.\n"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "description": "If a payout to a supply partner was revoked, this value will report the time that the payout was revoked.\n"
          },
          "financialInstitutionName": {
            "type": "string",
            "description": "The name of the associated financial institution. This value is subject to change, so `financialInstitutionUuid` should be used as a stable identifier.\n"
          },
          "financialInstitutionUuid": {
            "type": "string",
            "format": "uuid",
            "description": "A unique identifier for the associated financial institution. Only present for event types associated with financial institutions.\n"
          }
        }
      },
      "LeadPayoutResponse": {
        "type": "object",
        "required": [
          "nextUrl",
          "shouldContinuePolling",
          "data"
        ],
        "properties": {
          "nextUrl": {
            "type": "string",
            "description": "The URL for the next request.\n"
          },
          "shouldContinuePolling": {
            "type": "boolean",
            "description": "If true, data is currently available at `nextUrl`. \n  Calling the `nextUrl` at the current time will return the next batch of data.  \nIf false, calling `nextUrl` at the current time will return an error response from the API.  \n  Data will be made available at a later time (at the next hour mark).\n"
          },
          "data": {
            "type": "array",
            "description": "Lead payout data for the requested time window.\n",
            "items": {
              "$ref": "#/components/schemas/LeadPayout"
            }
          }
        }
      },
      "LeadUuid": {
        "type": "object",
        "required": [
          "uuid"
        ],
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "UUID corresponding to the created `Lead`"
          }
        }
      },
      "LifeInsuranceOffer": {
        "type": "object",
        "description": "An offer for a life insurance lead",
        "required": [
          "details"
        ],
        "properties": {
          "details": {
            "$ref": "#/components/schemas/LifeInsuranceOfferDetails"
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/Offer"
          }
        ]
      },
      "LifeInsuranceOfferDetails": {
        "type": "object",
        "required": [
          "policyAmount",
          "monthlyPremiumAmount"
        ],
        "properties": {
          "policyAmount": {
            "type": "integer",
            "format": "int64",
            "description": "Policy amount, in dollars"
          },
          "termLength": {
            "type": "integer",
            "format": "int64"
          },
          "termUnit": {
            "$ref": "#/components/schemas/TermUnit"
          },
          "monthlyPremiumAmount": {
            "type": "number",
            "description": "Monthly premium amount, in dollars"
          },
          "annualPremiumAmount": {
            "type": "number",
            "description": "Annual premium amount, in dollars"
          },
          "semiAnnualPremiumAmount": {
            "type": "number",
            "description": "Semi-annual premium amount, in dollars"
          },
          "onlineAppAvailable": {
            "type": "boolean",
            "description": "Online application is available"
          },
          "noMedicalTest": {
            "type": "boolean"
          },
          "packageType": {
            "$ref": "#/components/schemas/PackageType"
          },
          "recommended": {
            "type": "boolean",
            "description": "Policy is recommended"
          },
          "medicalExam": {
            "$ref": "#/components/schemas/MedicalExam"
          },
          "policyName": {
            "type": "string",
            "description": "The name of policy"
          },
          "carrierDecisionType": {
            "$ref": "#/components/schemas/CarrierDecisionType"
          },
          "partnerQuoteId": {
            "type": "string"
          },
          "convertToPermanent": {
            "type": "boolean"
          },
          "childRider": {
            "type": "string"
          },
          "acceleratedDeathBenefit": {
            "type": "boolean"
          },
          "waiverOfPremium": {
            "type": "string"
          },
          "isOnlineApplication": {
            "type": "boolean"
          },
          "deliveryMethod": {
            "type": "string"
          },
          "examRequired": {
            "type": "string"
          }
        }
      },
      "ListedEventData": {
        "type": "object",
        "title": "listed",
        "properties": {
          "amount": {
            "type": "integer",
            "format": "int32",
            "description": "The dollar amount of the offer that was listed.\n"
          },
          "productType": {
            "$ref": "#/components/schemas/ProductType",
            "description": "The product type of the offer that was listed.\n"
          }
        }
      },
      "LoanOffer": {
        "type": "object",
        "required": [
          "uuid",
          "originator",
          "maxAmount",
          "allowPrepayment",
          "preQualified",
          "preApproved",
          "secured",
          "coApplicant",
          "sponsored",
          "productType",
          "productSubType",
          "aprType"
        ],
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "productType": {
            "$ref": "#/components/schemas/ProductType"
          },
          "productSubType": {
            "$ref": "#/components/schemas/ProductSubType"
          },
          "productSubTypeDisclaimer": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "url"
          },
          "originator": {
            "$ref": "#/components/schemas/Originator"
          },
          "originatorId": {
            "type": "string"
          },
          "preQualified": {
            "type": "boolean"
          },
          "preApproved": {
            "type": "boolean"
          },
          "secured": {
            "type": "boolean"
          },
          "coApplicant": {
            "type": "boolean"
          },
          "sponsored": {
            "type": "boolean",
            "deprecated": true
          },
          "maxAmount": {
            "type": "integer",
            "format": "int32"
          },
          "minAmount": {
            "type": "integer",
            "format": "int32"
          },
          "termLength": {
            "type": "integer",
            "format": "int32"
          },
          "termUnit": {
            "$ref": "#/components/schemas/TermUnit"
          },
          "displayTermUnit": {
            "type": "string"
          },
          "termDescription": {
            "type": "string"
          },
          "maxApr": {
            "type": "number"
          },
          "minApr": {
            "type": "number"
          },
          "meanApr": {
            "type": "number"
          },
          "aprType": {
            "$ref": "#/components/schemas/AprType"
          },
          "aprDescription": {
            "type": "string"
          },
          "feeRate": {
            "type": "number",
            "description": "The maximum percent of loan amount fee for an offer. `maxFeeRate` should be used instead",
            "deprecated": true
          },
          "maxFeeRate": {
            "type": "number"
          },
          "minFeeRate": {
            "type": "number"
          },
          "feeFixed": {
            "type": "number",
            "description": "The maximum fee, in dollars, for an offer. `maxFeeFixed` should be used instead",
            "deprecated": true
          },
          "maxFeeFixed": {
            "type": "number"
          },
          "minFeeFixed": {
            "type": "number"
          },
          "allowPrepayment": {
            "type": "boolean"
          },
          "prepaymentFee": {
            "type": "number"
          },
          "monthlyPayment": {
            "type": "number",
            "description": "The estimated maximum monthly payment, in dollars, for an offer. `maxMonthlyPayment` should be used instead",
            "deprecated": true
          },
          "maxMonthlyPayment": {
            "type": "number"
          },
          "minMonthlyPayment": {
            "type": "number"
          },
          "monthlyPaymentDescription": {
            "type": "string"
          },
          "meanMonthlyPayment": {
            "type": "number"
          },
          "maxTotalPayment": {
            "type": "number"
          },
          "minTotalPayment": {
            "type": "number"
          },
          "meanTotalPayment": {
            "type": "number"
          },
          "recommendationScore": {
            "type": "number"
          },
          "payout": {
            "type": "number"
          },
          "conversionProbability": {
            "type": "number"
          },
          "terms": {
            "type": "string"
          },
          "amountPrefix": {
            "type": "string",
            "description": "Some loan offers require a prefix (e.g. `up to*`) to be displayed to the left of the displayed loan amount. This is a nullable field that may be up to six characters long."
          }
        }
      },
      "LoanPurpose": {
        "type": "string",
        "enum": [
          "auto",
          "auto_purchase",
          "auto_refinance",
          "baby",
          "boat",
          "business",
          "car_repair",
          "cosmetic",
          "credit_card_refi",
          "debt_consolidation",
          "emergency",
          "engagement",
          "green",
          "home_improvement",
          "home_purchase",
          "home_refi",
          "household_expenses",
          "large_purchases",
          "life_event",
          "medical_dental",
          "motorcycle",
          "moving_relocation",
          "other",
          "rv",
          "special_occasion",
          "student_loan",
          "student_loan_refi",
          "taxes",
          "unknown",
          "vacation",
          "wedding"
        ]
      },
      "LoanProbability": {
        "type": "object",
        "required": [
          "probability",
          "aprPercentMin",
          "aprPercentMax",
          "termMonthsMin",
          "termMonthsMax"
        ],
        "properties": {
          "probability": {
            "type": "number",
            "format": "double",
            "description": "The likelihood of approval for loans that match the criteria."
          },
          "aprPercentMin": {
            "type": "number",
            "format": "double",
            "description": "The minimum APR for loans with this approval probability."
          },
          "aprPercentMax": {
            "type": "number",
            "format": "double",
            "description": "The maximum APR for loans with this approval probability."
          },
          "termMonthsMin": {
            "type": "integer",
            "format": "int64",
            "description": "The minimum term length for loans with this approval probability."
          },
          "termMonthsMax": {
            "type": "integer",
            "format": "int64",
            "description": "The maximum term length for loans with this approval probability."
          },
          "productSubType": {
            "description": "The optional loan sub-type of loans with this approval probability.",
            "allOf": [
              {
                "$ref": "#/components/schemas/ProductSubType"
              }
            ]
          }
        }
      },
      "LoanReport": {
        "type": "object",
        "required": [
          "uuid",
          "annualIncome",
          "creditRating",
          "networkProbabilities",
          "financialInsitutions",
          "createdAt"
        ],
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "A unique identifier for this report."
          },
          "annualIncome": {
            "type": "integer",
            "format": "int32",
            "description": "The user's annual income in dollars."
          },
          "creditRating": {
            "description": "The user's credit score range.",
            "allOf": [
              {
                "$ref": "#/components/schemas/ProvidedCreditRating"
              }
            ]
          },
          "totalDebt": {
            "type": "integer",
            "format": "int32",
            "description": "The user's total debt in dollars."
          },
          "countOfDerogatories": {
            "type": "integer",
            "format": "int32",
            "description": "The number of derogatory accounts listed on the user's credit report."
          },
          "state": {
            "description": "The user's state of residence.",
            "allOf": [
              {
                "$ref": "#/components/schemas/State"
              }
            ]
          },
          "loanPurpose": {
            "description": "The reason for the loan.",
            "allOf": [
              {
                "$ref": "#/components/schemas/LoanPurpose"
              }
            ]
          },
          "loanAmount": {
            "type": "integer",
            "format": "int32",
            "description": "The size of the the loan."
          },
          "networkProbabilities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LoanProbability"
            },
            "description": "Probabilities for classes of loans, irrespective of financial institution."
          },
          "financialInsitutions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FinancialInstitutionLoanReport"
            },
            "description": "Probabilities broken out for specific financial institutions."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this report was created."
          }
        }
      },
      "LoanReportCreateData": {
        "type": "object",
        "required": [
          "annualIncome",
          "creditRating"
        ],
        "properties": {
          "annualIncome": {
            "type": "integer",
            "format": "int32",
            "description": "The user's annual income in dollars."
          },
          "creditRating": {
            "description": "The user's credit score range.",
            "allOf": [
              {
                "$ref": "#/components/schemas/ProvidedCreditRating"
              }
            ]
          },
          "totalDebt": {
            "type": "integer",
            "format": "int32",
            "description": "The user's total debt in dollars."
          },
          "countOfDerogatories": {
            "type": "integer",
            "format": "int32",
            "description": "The number of derogatory accounts listed on the user's credit report."
          },
          "state": {
            "description": "The user's state of residence.",
            "allOf": [
              {
                "$ref": "#/components/schemas/State"
              }
            ]
          },
          "loanPurpose": {
            "description": "The reason for the loan.",
            "allOf": [
              {
                "$ref": "#/components/schemas/LoanPurpose"
              }
            ]
          },
          "loanAmount": {
            "type": "integer",
            "format": "int32",
            "description": "The size of the the loan."
          }
        }
      },
      "MedicalExam": {
        "type": "string",
        "description": "Medical exam requirement",
        "enum": [
          "no_exam_if_qualified",
          "no_exam_guaranteed",
          "exam_required"
        ]
      },
      "MortgageAdjustmentType": {
        "type": "string",
        "enum": [
          "credits",
          "par",
          "points"
        ]
      },
      "MortgageLoanType": {
        "type": "string",
        "enum": [
          "fifteen_year_fixed",
          "thirty_year_fixed",
          "five_one_adjustable",
          "seven_one_adjustable",
          "ten_one_adjustable"
        ]
      },
      "MortgageOffer": {
        "type": "object",
        "description": "An offer for a mortgage",
        "required": [
          "details"
        ],
        "properties": {
          "details": {
            "$ref": "#/components/schemas/MortgageOfferDetails"
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/Offer"
          }
        ]
      },
      "MortgageOfferDetails": {
        "type": "object",
        "required": [
          "interestRate",
          "loanType",
          "priceAdjustment",
          "monthlyPayment",
          "netClosingCosts",
          "apr",
          "loanTerm",
          "adjustmentType"
        ],
        "properties": {
          "interestRate": {
            "type": "number"
          },
          "loanType": {
            "$ref": "#/components/schemas/MortgageLoanType"
          },
          "priceAdjustment": {
            "type": "number"
          },
          "monthlyPayment": {
            "type": "number"
          },
          "netClosingCosts": {
            "type": "number"
          },
          "apr": {
            "type": "number"
          },
          "loanTerm": {
            "type": "integer",
            "format": "int32"
          },
          "adjustmentType": {
            "$ref": "#/components/schemas/MortgageAdjustmentType"
          }
        }
      },
      "MortgageType": {
        "type": "string",
        "enum": [
          "purchase",
          "refinance"
        ]
      },
      "OccupancyType": {
        "type": "string",
        "enum": [
          "primary",
          "secondary",
          "investment"
        ]
      },
      "Offer": {
        "type": "object",
        "required": [
          "uuid",
          "partner",
          "productType",
          "productSubType",
          "url"
        ],
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "partner": {
            "$ref": "#/components/schemas/Partner"
          },
          "marketplace": {
            "$ref": "#/components/schemas/Partner"
          },
          "productType": {
            "$ref": "#/components/schemas/ProductType"
          },
          "productSubType": {
            "$ref": "#/components/schemas/ProductSubType"
          },
          "url": {
            "type": "string",
            "format": "url"
          },
          "recommendationScore": {
            "type": "number"
          },
          "disclaimer": {
            "type": "string"
          },
          "productSubTypeDisclaimer": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OfferClickedEventData": {
        "type": "object",
        "title": "offerClicked",
        "properties": {
          "productType": {
            "$ref": "#/components/schemas/ProductType",
            "description": "The product type of the clicked offer.\n"
          }
        }
      },
      "OfferDisplay": {
        "type": "object",
        "required": [
          "id",
          "uuid",
          "leadUuid",
          "rateTableUuid",
          "offerUuid",
          "createdAt",
          "createdBy"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "leadUuid": {
            "type": "string",
            "format": "uuid"
          },
          "rateTableUuid": {
            "type": "string",
            "format": "uuid"
          },
          "offerUuid": {
            "type": "string",
            "format": "uuid"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "OfferDisplayCreateData": {
        "type": "object",
        "required": [
          "leadUuid",
          "rateTableUuid",
          "offerUuid"
        ],
        "properties": {
          "leadUuid": {
            "type": "string",
            "format": "uuid"
          },
          "rateTableUuid": {
            "type": "string",
            "format": "uuid"
          },
          "offerUuid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "OpeId": {
        "type": "string",
        "pattern": "^\\d{6}[A-Za-z\\d]{2}$",
        "description": "identification number used by the U.S. Department of Education's Office of Postsecondary Education (OPE) to identify schools that have Program Participation Agreements (PPA) so that its students are eligible to participate in Federal Student Financial Assistance programs under Title IV regulations. This is a 6-digit number followed by a 2-digit suffix used to identify branches, additional locations, and other entities that are part of the eligible institution."
      },
      "OpenedEventData": {
        "type": "object",
        "title": "opened",
        "properties": {
          "productType": {
            "$ref": "#/components/schemas/ProductType",
            "description": "The product type of the offer for which the account was opened.\n"
          }
        }
      },
      "Originator": {
        "type": "object",
        "required": [
          "key",
          "name",
          "images"
        ],
        "properties": {
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OriginatorImage"
            }
          },
          "disclaimer": {
            "type": "string"
          },
          "companyUuid": {
            "type": "string",
            "format": "uuid"
          },
          "financialInstitutionUuid": {
            "type": "string",
            "format": "uuid",
            "description": "A unique identifier for the associated financial institution. Only present for event types associated with financial institutions.\n"
          }
        }
      },
      "OriginatorImage": {
        "type": "object",
        "required": [
          "sizeKey",
          "url"
        ],
        "properties": {
          "sizeKey": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "PackageType": {
        "type": "string",
        "description": "Life insurance package types",
        "enum": [
          "basic",
          "essential",
          "elite"
        ]
      },
      "Partner": {
        "type": "object",
        "required": [
          "uuid",
          "name",
          "description",
          "disclaimer",
          "supportsPreSelect",
          "shouldDisplayPreSelect",
          "supportsPersonalizedOffers",
          "imageUrl"
        ],
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "disclaimer": {
            "type": "string"
          },
          "supportsPreSelect": {
            "type": "boolean"
          },
          "shouldDisplayPreSelect": {
            "type": "boolean"
          },
          "supportsPersonalizedOffers": {
            "type": "boolean",
            "description": "Whether the partner supports returning pre-qualified or pre-approved offers"
          },
          "imageUrl": {
            "type": "string",
            "format": "url"
          },
          "subtextOverride": {
            "type": "string"
          }
        }
      },
      "PendingResponse": {
        "type": "object",
        "required": [
          "partner",
          "productTypes"
        ],
        "properties": {
          "partner": {
            "$ref": "#/components/schemas/Partner"
          },
          "productTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductType"
            }
          }
        }
      },
      "PersonalReferenceInformation": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "The first name of the personal reference supplied by the lead"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the personal reference supplied by the lead"
          },
          "primaryPhone": {
            "type": "string",
            "pattern": "^1?\\d{10}$",
            "description": "The phone number of the personal reference supplied by the lead"
          },
          "relationType": {
            "$ref": "#/components/schemas/PersonalReferenceRelationType",
            "description": "The relation of the personal reference supplied by the lead"
          }
        }
      },
      "PersonalReferenceRelationType": {
        "type": "string",
        "enum": [
          "parent",
          "employer",
          "spouse",
          "guardian",
          "sibling",
          "relative",
          "friend",
          "other"
        ]
      },
      "ProductType": {
        "type": "string",
        "enum": [
          "credit_card",
          "generic",
          "auto_insurance",
          "insurance",
          "life_insurance",
          "loan",
          "mortgage",
          "savings",
          "other"
        ]
      },
      "ProductSubType": {
        "type": "string",
        "description": "A type of financial product",
        "enum": [
          "credit_card",
          "secured_card",
          "personal_loan",
          "secured_loan",
          "student_loan_refinance",
          "co_applicant_loan",
          "line_of_credit",
          "automobile_refinance",
          "home_equity_line_of_credit",
          "purchase",
          "refinance",
          "savings_account",
          "money_market_account",
          "certificate_of_deposit",
          "individual_retirement_account",
          "cash_management_account",
          "high_interest_checking",
          "checking",
          "accidental_death_benefits",
          "term_life",
          "term_life_instant",
          "whole_life",
          "debt_relief",
          "installment_loans",
          "credit_builder",
          "cash_advance",
          "credit_repair",
          "education_offers",
          "employment_opportunity",
          "financial_wellness",
          "direct_affiliate",
          "overdraft_protection",
          "revenue_based_financing",
          "uncategorized"
        ]
      },
      "ProvidedCreditRating": {
        "type": "string",
        "enum": [
          "excellent",
          "good",
          "fair",
          "poor",
          "limited",
          "unknown"
        ]
      },
      "PropertyStatus": {
        "type": "string",
        "enum": [
          "own_outright",
          "own_with_mortgage",
          "rent"
        ]
      },
      "PropertySearchStatus": {
        "type": "string",
        "enum": [
          "found",
          "not_found"
        ]
      },
      "PropertyType": {
        "type": "string",
        "enum": [
          "rent",
          "condo",
          "multi_unit",
          "single_family",
          "townhouse"
        ]
      },
      "PurchaseStatus": {
        "type": "string",
        "enum": [
          "no_offer",
          "offer_accepted",
          "offer_pending",
          "under_contract"
        ]
      },
      "RateTable": {
        "type": "object",
        "description": "A `RateTable` customized to a `Lead` input",
        "required": [
          "uuid",
          "leadUuid",
          "creditCardOffers",
          "loanOffers",
          "mortgageOffers",
          "savingsOffers",
          "specialOffers",
          "pendingOriginators",
          "pendingResponses"
        ],
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid",
            "description": "Primary UUID for a `RateTable`"
          },
          "leadUuid": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the associated `Lead`"
          },
          "loanAmount": {
            "type": "integer",
            "format": "int32",
            "description": "`Lead`'s provided loan amount at the time of `RateTable` creation"
          },
          "embedUrl": {
            "type": "string",
            "format": "url",
            "description": "A URL with which to build an iframe to embed rate table offer results in your experience. Only available to channels with integrations configured in control center."
          },
          "partnerPageUrl": {
            "type": "string",
            "format": "url",
            "description": "A partner page URL to send your user to see the rate table offer results. Only available to channels with integrations configured in control center."
          },
          "creditCardOffers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreditCardOffer"
            }
          },
          "loanOffers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LoanOffer"
            }
          },
          "mortgageOffers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MortgageOffer"
            }
          },
          "savingsOffers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SavingsOffer"
            }
          },
          "specialOffers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SpecialOffer"
            }
          },
          "pendingOriginators": {
            "type": "array",
            "description": "List of originators which have been queried, but have not responded yet. This list only contains loan originators, and should no longer be used",
            "deprecated": true,
            "items": {
              "$ref": "#/components/schemas/Originator"
            }
          },
          "pendingResponses": {
            "type": "array",
            "description": "List of demand partners which have been queried, but have not responded yet. It is a guarantee that no offers will be added to the rate table after this list is empty",
            "items": {
              "$ref": "#/components/schemas/PendingResponse"
            }
          }
        }
      },
      "RefinanceLoanInformation": {
        "type": "object",
        "title": "Refinance loan information",
        "properties": {
          "accountNumber": {
            "type": "string",
            "description": "The account number for a loan the lead is refinancing"
          },
          "incomeBasedRepayment": {
            "type": "boolean",
            "description": "If the repayment is income-based for a loan the lead is refinancing"
          },
          "interestRate": {
            "type": "number",
            "format": "float",
            "description": "The interest rate for a loan the lead is refinancing"
          },
          "loanAmount": {
            "type": "integer",
            "format": "int32",
            "description": "The loan amount for a loan the lead is refinancing"
          },
          "loanServicer": {
            "type": "string",
            "description": "The name of a loan servicer of a loan the lead is refinancing"
          },
          "loanType": {
            "$ref": "#/components/schemas/RefinanceLoanType",
            "description": "The loan type for a loan the lead is refinancing"
          },
          "nextPaymentAmount": {
            "type": "number",
            "format": "float",
            "description": "The amount the next payment will be on a loan the lead is refinancing"
          },
          "nextPaymentDate": {
            "type": "string",
            "format": "date",
            "description": "The next payment date for a loan the lead is refinancing"
          }
        }
      },
      "RefinanceLoanType": {
        "type": "string",
        "enum": [
          "federal_student_loan",
          "private_student_loan"
        ]
      },
      "RefinanceType": {
        "type": "string",
        "enum": [
          "cash_out",
          "rate_term"
        ]
      },
      "RejectReason": {
        "type": "string",
        "enum": [
[...]
